<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="index.html" class="navbar-item has-text-weight-bold is-size-5">LexiBridge</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
	<a href="install.html" class="navbar-item">安装</a>
	<a href="about.html" class="navbar-item">关于我们</a>
	<a href="privacy.html" class="navbar-item">隐私政策</a>
        <a target="_blank" href="https://github.com/ChanMo/LexiBridge/" class="navbar-item">GITHUB</a>
      </div>
    </div>
  </div>
</nav>
