<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="index.html" class="navbar-item has-text-weight-bold is-size-5">LexiBridge</a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
	<span aria-hidden="true"></span>
	<span aria-hidden="true"></span>
	<span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
	<a href="install.html" class="navbar-item">安装</a>
	<a href="about.html" class="navbar-item">关于我们</a>
	<a href="privacy.html" class="navbar-item">隐私政策</a>
        <a target="_blank" href="https://github.com/ChanMo/LexiBridge/" class="navbar-item">GITHUB</a>
      </div>
    </div>
  </div>
</nav>
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}); 
</script>
